<footer>
  <div class="footer-content">
    <div class="social-media-icons">
      <a href="https://www.instagram.com/sayyidhrs" target="_blank" rel="noopener noreferrer">
        <img src="/instagram-icon.png" alt="Instagram">
      </a>
      <a href="https://www.linkedin.com/in/sayyid-haris-b6814b1ab" target="_blank" rel="noopener noreferrer">
        <img src="/linkedin-icon.png" alt="LinkedIn">
      </a>
    </div>
    <p>&copy; 2023 Sayyid Haris. All rights reserved.</p>
  </div>
</footer>
